[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
etherscan-python = "*"
pytz = "*"
pandas = "*"
pycoingecko = "*"
opensea-api = "*"
web3 = "*"
eth-tester = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"
pandasgui = "*"

[requires]
python_version = "3.9"
